.container{
margin: 1em;}
.inner-container{
    /* margin:5px; */
    display : inline-flex;
}
.image-contain{
    width: 120px;
    height: 130px;
    /* margin-left: 20px; */
}

.image-text{
    /* font-style: bold; */
    font-weight: 4000px;
    position: absolute;
    text-shadow: 1px 2px 3px #000;
    color: white;
    bottom: 2px;
    left: 16px;
    font-size: small;
    margin: 5px !important;

}.image{
    position: relative;
    text-align: center;
    color: white;

}

